* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.nav-item {
    color: rgb(66, 66, 66) !important;
}

.dropdown-menu{
    border-radius: 0px !important;
    border:0px !important;
    top:105% !important;
}

.nav-item a {

  display: block;
  text-decoration: none;
}

.nav-item a:hover{
    color: #FFF !important;
    background: #04518A !important;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.footer-background{
    background-color: #005197;
}

.shadow-invert{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.151);
}

.tarja{
    background-image: url('../images/usina-sonora.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(40deg, rgba(169, 178, 207, 0.404) 25%, rgba(121,127,83,0.9696078260405725) 75%, rgba(130,130,78,1) 100%);
}

.title-h3 { width:100%; text-align:center; border-bottom: 2px solid rgb(219, 219, 219); line-height:0.1em; margin:10px 0 20px; }
.title-h3 span {
    background: rgb(2,0,36);
    background: rgb(255,255,255);
    background:
    linear-gradient(75deg, rgb(241, 241, 242) 7%, rgba(9,9,121,1)  8%, rgba(9,9,121,1) 93%, rgb(241, 241, 242) 94%);
    color: #FFF;
	display: inline;
	padding: 5px 22px !important;
    -webkit-box-shadow: 0px 21px 8px -11px rgba(0, 0, 0, 0.267);
    -moz-box-shadow: 0px 21px 8px -11px rgba(0,0,0,0.267);
    box-shadow: 0px 21px 8px -11px rgba(0,0,0,0.267);
	position: relative;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}
.fixed-top  {
    top:1.5rem !important;
	transition: all .4s ease-in-out .2s !important;
}
.sticky{
    top: 0 !important;
    margin-top: 0 !important;
}
svg{
    fill: white ;
    width: 128px;
    height: 128px;
    background-position: center;
}
